In [1]:
import pandas as pd
filtered_file_path = 'data/v7/filter_v7/filtered_split_pair_all_siamese_bert_base_cased_epoch2.csv'
filtered_pairs = pd.read_csv(filtered_file_path, sep='\t')
print(len(filtered_pairs))
filtered_pairs.head()

1166272

,true_sentence,candidate_sentence,pair_result
0,"#2009faillist the New Jersey Nets, they should...",#ihatewhen the #WhiteSox lose to rival teams l...,0
1,"#2009faillist the New Jersey Nets, they should...","#MW2 for the ""boo"". Can someone tell me why th...",0
2,"#2009faillist the New Jersey Nets, they should...",He should make that # famous. If I was in the ...,0
3,"#2009faillist the New Jersey Nets, they should...",#thingsilike seeing the Lakers beat the shit o...,0
4,"#2009faillist the New Jersey Nets, they should...",#cheatingexcuses I was taking one for the team.,1

In [3]:
original_pair_path = 'data/pair_v7/paired_sentences_train.csv'
original_pairs = pd.read_csv(original_pair_path, header=None, sep='\t')
print(len(original_pairs))
original_pairs.head()

2000000

,0,1,2
0,The truth is out there. Anyone know the URL? #...,Did I tell you that I auditioned for the Blue ...,1
1,What is the good small business that making mo...,Credit Repair Counseling - Info Barrel,1
2,"Tuesday Forecast: mostly cloudy, 20% chc. of A...",- at late night with roy right now for the pap...,0
3,I got a cool harry potter video game!,Iam learning to like math hahq,1
4,"Thx Aaron, Harvey, Eric, John, Corey, Heather,...",Dinner in NYC at Hill Country with my friend f...,1

In [14]:
import numpy as np

rs = np.concatenate([original_pairs.values, filtered_pairs.values])
updated_original = pd.DataFrame(rs, columns=original_pairs.columns)
print(len(updated_original))
updated_original.tail(10)

3166272

,0,1,2
3166262,The First Take: Big Ten For Real: And South Da...,Sports Memories in the Making: Nov. 9 – 15: Th...,0
3166263,The First Take: Big Ten For Real: And South Da...,Sports Memories in the Making – Nov. 16 – 22: ...,0
3166264,The First Take: Big Ten For Real: And South Da...,Dana White: No return in sight for ill Brock L...,0
3166265,The First Take: Big Ten For Real: And South Da...,Game Notes: Hawks at Pistons: Maybe there's st...,1
3166266,The First Take: Big Ten For Real: And South Da...,Game Notes: Mavericks at Nets: The New Jersey ...,1
3166267,The First Take: Big Ten For Real: And South Da...,The First Take: Carolina On My Mind: And the n...,1
3166268,"he says ""Baby i LOVE YOU SO MUCH"" exactly whn ...",lovemeeKenny kieaaaa doll your beautiful likee...,0
3166269,"he says ""Baby i LOVE YOU SO MUCH"" exactly whn ...",if yu really felt someway && and dehn yu qoht ...,0
3166270,"he says ""Baby i LOVE YOU SO MUCH"" exactly whn ...","wnts 2 knw wat happnd 2 da UPS man, fireman, p...",1
3166271,"he says ""Baby i LOVE YOU SO MUCH"" exactly whn ...",i was jus gon tweet bout how i finally have to...,1

In [13]:
new_dataset_file_path = 'data/pair_v7/paired_sentences_train_v7.2.csv'
updated_original.to_csv(new_dataset_file_path, index=False, sep='\t', header=None)